<div class="container">
  <h1>Lista de Animais</h1>

  <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary">Novo Animal</button>

  <mat-form-field>
     <mat-label>Filter</mat-label>
     <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
   </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="dono">
            <th mat-header-cell *matHeaderCellDef> Dono </th>
            <td mat-cell *matCellDef="let element"> {{element.dono}} </td>
          </ng-container>

          <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
          </ng-container>

          <ng-container matColumnDef="nascimento">
            <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
            <td mat-cell *matCellDef="let element"> {{element.nascimento}} </td>
          </ng-container>

          <ng-container matColumnDef="raca">
            <th mat-header-cell *matHeaderCellDef> Raca </th>
            <td mat-cell *matCellDef="let element"> {{ element.raca ? element.raca.nome : 'Sem raça' }} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="update/{{element.id}}">
                <i class="material-icons edit">edit</i>
              </a>
              <a>
                <i class="material-icons delete" (click)="openConfirmationModal(element.id)">delete</i>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

</div>
